<!DOCTYPE html>
	<head>
		<title>To Do App</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
	</head>
	<body>
		<div class="heading">
			<h3>ToDo App</h3>
			<h5><a href="{{ url_for('logout') }}">Logout  <i class="fas fa-sign-out-alt"></i></a></h5>
		</div>
		
		<div class="add">	
			<form method="POST">
				<input type="textbox" name="description" class="new" placeholder="Enter Your Note Here...">
			</form>
		</div>

		<div class="unlst">
			<h4>You have stuff to do!</h4>
			<hr>
			<center>
				<ul class="list">
					{% for toDo in toDos %}
						<li>{{ toDo.2 }}</li>
						<a href="{{ url_for("delete",todo_id=toDo.0) }}"><i class="fas fa-trash"></i></a>
						</br>
					{% else %}
						<li>Nothing To Do!</li>
					{% endfor %}
				</ul>
			</center>
		</div>
	</body>
</html>