<!DOCTYPE html>
	<head>
		<title>To Do App</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/title.css') }}">
	</head>
	<body>
		<div>
			<h1>To Do Web application</h1>
			<hr>
			<h3>Access your notes wherever you are, just connect and login.</h3>

			</br>

			<h4>Already a memeber ? <a href="{{ url_for('login') }}">Login</a>.</h4>
			<h4>Start writing to-dos ? <a href="{{ url_for('register') }}">Register</a>.</h4>
		</div>
	</body>
</html>